.table{
    width: 100%;
    border: none;
}

.content{
    width: 50%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.adicionarlivro{
    display: flex;
    justify-content: right;
    align-self: center;
    text-align: center;
    margin: 10px;
}

.table-head{
    color: orange;
}

